html{
background-color: #000000;
max-width:100%;
}
h1{
color: #e400ff;
text-shadow: -2px -2px 9px #FF00FF,2px 2px 9px #FF00FF;
font-family:Contrail One;
text-align:center;
font-size:2em;
}
h2:hover{
transform: translateX(47%);
transition: transform ease-in-out 1000ms;
}
@keyframes shift{
25%{
color:#e48eff;
}
50% {
color:#e400ff;
}
75%{
color:#e48eff;
}
100% {
color:#e400ff;
}}
a{
text-decoration:none;
}
h2{
color:#e400ff;
text-shadow: -2px -2px 9px #FF00FF,2px 2px 9px #FF00FF;
-webkit-animation-name: shift;
-webkit-animation-duration: 7s;
-webkit-animation-iteration-count: infinite;
animation-name: shift;
animation-duration: 7s;
animation-iteration-count: infinite;
}
