html{
background-color: #000000;
}
h1{
color: #e400ff;
text-shadow: -2px -2px 9px #FF00FF,2px 2px 9px #FF00FF;
font-family:Contrail One;
text-align:center;
font-size:2em;
}
h2:hover{
-webkit-animation-name: slide;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count:1;
animation-name: slide;
animation-duration: 5s;
animation-iteration-count:1;
}

a{
text-decoration:none;
}
h2{
color:#e400ff;
text-shadow: -2px -2px 9px #FF00FF,2px 2px 9px #FF00FF;
-webkit-animation-name: shift;
-webkit-animation-duration: 7s;
-webkit-animation-iteration-count: infinite;
animation-name: shift;
animation-duration: 7s;
animation-iteration-count: infinite;
}
@keyframes slide{
100%{
display:flex;
align-self:center;
  }
}
@keyframes shift{
25%{
color:#e48eff;
}
50% {
color:#e400ff;
}
75%{
color:#e48eff;
}
100% {
color:#e400ff;
}}
