html{
background-color: #000000;
}
h1{
color: #e400ff;
text-shadow: -2px -2px 9px #FF00FF,2px 2px 9px #FF00FF;
font-family:Contrail One;
text-align:center;
font-size:2.2em;
-webkit-animation-name: shift;
-webkit-animation-duration: 7s;
-webkit-animation-iteration-count: infinite;
animation-name: shift;
animation-duration: 7s;
animation-iteration-count: infinite;
}

#bio{
top:25%;
display:flex;
justify-content:center;
align-items:center;
font-family:Contrail One;
color:#e400ff;
text-shadow: -2px -2px 9px #FF00FF,2px 2px 9px #FF00FF;
-webkit-animation-name: shift;
-webkit-animation-duration: 7s;
-webkit-animation-iteration-count: infinite;
animation-name: shift;
animation-duration: 7s;
animation-iteration-count: infinite;

}

a{
text-decoration:none;
}
h2{
font-family:Contrail One;
color:#e400ff;
text-shadow: -2px -2px 9px #FF00FF,2px 2px 9px #FF00FF;
-webkit-animation-name: shift;
-webkit-animation-duration: 7s;
-webkit-animation-iteration-count: infinite;
animation-name: shift;
animation-duration: 7s;
animation-iteration-count: infinite;
}

.sleepy:hover{-webkit-animation-fill-mode: forwards;
-webkit-animation-name: slideSleepy;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count:1;
animation-name: slideSleepy;
animation-duration: 3s;
animation-iteration-count:1;
animation-fill-mode: forwards;}

.orokana:hover{-webkit-animation-fill-mode: forwards;
-webkit-animation-name: slideOrokana;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count:1;
animation-name: slideOrokana;
animation-duration: 3s;
animation-iteration-count:1;
animation-fill-mode: forwards;}

.roomsaver:hover{-webkit-animation-fill-mode: forwards;
-webkit-animation-name: slideRoomsaver;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count:1;
animation-name: slideRoomsaver;
animation-duration: 3s;
animation-iteration-count:1;
animation-fill-mode: forwards;}

.wan:hover{-webkit-animation-fill-mode: forwards;
-webkit-animation-name: slideWan;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count:1;
animation-name: slideWan;
animation-duration: 3s;
animation-iteration-count:1;
animation-fill-mode: forwards;}

.mao:hover{-webkit-animation-fill-mode: forwards;
-webkit-animation-name: slideMao;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count:1;
animation-name: slideMao;
animation-duration: 3s;
animation-iteration-count:1;
animation-fill-mode: forwards;}



@keyframes shift{
25%{
color:#e48eff;
  }
50%{
color:#e400ff;
  }
75%{
color:#e48eff;
  }
100%{
color:#e400ff;
  }
}
@keyframes slideOrokana{
25%{
color:#e48eff;
  }
50%{
color:#e400ff;
  }
75%{
color:#e48eff;
  }
100%{
color:#e400ff;
padding-left:46.5%;
padding-right:-46.5%
  }
}

@keyframes slideSleepy{
25%{
color:#e48eff;
  }
50%{
color:#e400ff;
  }
75%{
color:#e48eff;
  }
100%{
color:#e400ff;
padding-left:47%;
padding-right:-47%
  }
}

@keyframes slideRoomsaver{
25%{
color:#e48eff;
  }
50%{
color:#e400ff;
  }
75%{
color:#e48eff;
  }
100%{
color:#e400ff;
padding-left:46%;
padding-right:-46%
  }
}

@keyframes slideWan{
25%{
color:#e48eff;
  }
50%{
color:#e400ff;
  }
75%{
color:#e48eff;
  }
100%{
color:#e400ff;
padding-left:48%;
padding-right:-48%
  }
}

@keyframes slideMao{
25%{
color:#e48eff;
  }
50%{
color:#e400ff;
  }
75%{
color:#e48eff;
  }
100%{
color:#e400ff;
padding-left:48%;
padding-right:-48%
  }
}
